/*
  salsa-calendar
  ============================== */

@import 'mixins'

.salsa-calendar
  display block
  clearfix()

  // Month selection

  .month-select
    display flex
    box-sizing border-box
    height 40px
    border-bottom 1px solid #ddd

    .title
    .prev
    .next
      line-height @height

    .prev
    .next
      display block
      width @height
      height 100%
      background-repeat no-repeat
      background-position 50% 50%
      background-size auto 12px
      cursor pointer
      hide-text()

    .title
      flex-grow 1
      order 2
      text-transform uppercase
      font-weight bold
      text-align center

    .prev
      order 1
      transform rotate(180deg)

    .next
      order 3

  // Calendar view

  .month-view
    padding 10px 15px
    border-bottom 1px solid #ddd

    ol
      display flex
      flex-wrap wrap
      unstyled-list()

      li
        box-sizing border-box
        width calc(100%/7)
        height 28px
        padding 1px
        transition margin-left .2s ease-in-out

        span
          display block
          height 100%
          line-height 26px
          text-align center
          text-decoration none
          border-radius 3px
          color inherit
          transition all .2s ease-in-out

    .heading
      font-weight bold

    .month
      color inherit

      // States

      .completed span
        color inherit
        background-color inherit

      .incomplete span
        color inherit
        background-color inherit

      .missing span
        color inherit
        background-color inherit

      .scheduled span
        color inherit
        background-color inherit

    // Weekday ordering

    &[data-week-starts='monday']
      .mo
        order -1

    &[data-week-starts='sunday']
      .su
        order -1

    // Month ordering

    &[data-first-day='monday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='sunday'] .month li:first-child
      margin-left 0

    &[data-first-day='tuesday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='monday'] .month li:first-child
      margin-left calc(100%/7)

    &[data-first-day='wednesday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='tuesday'] .month li:first-child
      margin-left calc(2*(100%/7))

    &[data-first-day='thursday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='wednesday'] .month li:first-child
      margin-left calc(3*(100%/7))

    &[data-first-day='friday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='thursday'] .month li:first-child
      margin-left calc(4*(100%/7))

    &[data-first-day='saturday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='friday'] .month li:first-child
      margin-left calc(5*(100%/7))

    &[data-first-day='sunday'] .month li:first-child
    &[data-week-starts='sunday'][data-first-day='saturday'] .month li:first-child
      margin-left calc(6*(100%/7))

    // Weekend targetting

    &[data-first-day='monday'] .month li:nth-child(7n + 6)
    &[data-first-day='monday'] .month li:nth-child(7n)
    &[data-first-day='tuesday'] .month li:nth-child(7n + 5)
    &[data-first-day='tuesday'] .month li:nth-child(7n + 6)
    &[data-first-day='wednesday'] .month li:nth-child(7n + 4)
    &[data-first-day='wednesday'] .month li:nth-child(7n + 5)
    &[data-first-day='thursday'] .month li:nth-child(7n + 3)
    &[data-first-day='thursday'] .month li:nth-child(7n + 4)
    &[data-first-day='friday'] .month li:nth-child(7n + 2)
    &[data-first-day='friday'] .month li:nth-child(7n + 3)
    &[data-first-day='saturday'] .month li:nth-child(7n + 1)
    &[data-first-day='saturday'] .month li:nth-child(7n + 2)
    &[data-first-day='sunday'] .month li:nth-child(7n)
    &[data-first-day='sunday'] .month li:nth-child(7n + 1)
      color inherit
      background-color inherit
